body {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
/* replace the collapsed hamburger */
#glyph-closed,
#glyph-open {
  color: #fff;
  font-size: 20px;
}
.navbar-toggle #glyph-closed {
  display: block;
}
.navbar-toggle #glyph-open {
  display: none;
}
.navbar-toggle.active #glyph-closed {
  display: none;
}
.navbar-toggle.active #glyph-open {
  display: block;
}
/* end of hamburger replacement */
#footer p {
  font-weight: 300;
  font-size: small;
  text-align: center;
  float: none;
}
.page {
  overflow: hidden;
}
.page .content {
  padding: 60px 0;
}
.page .content.cover {
  padding: 240px 0;
}
/* implemented to align menu items, but they are not functional for the demo */
#photoSelect > li:nth-child(5),
#photoSelect > li:nth-child(6),
#photoSelect > li:nth-child(7),
#photoSelect > li:nth-child(8),
#photoSelect > li:nth-child(9),
#photoSelect > li:nth-child(10) {
  padding: 8px 20px;
  color: #333333;
}
#home {
  height: 100%;
  padding: 0;
  padding-bottom: 100px;
  color: #fff;
  background-image: url(../../images/home.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#photogallery {
  height: 100%;
  padding-top: 100px;
}
#photogallery .row {
  padding: 10px 0 10px 0;
}
#photogallery h2 {
  margin: -20px 0 0 0;
}
#photogallery p {
  font-size: 90%;
  font-weight: 400;
  text-align: center;
  color: #008cba;
}
#outsideFront,
#outsideBack {
  height: 100%;
  padding-top: 100px;
}
#outsideFront h2,
#outsideBack h2 {
  margin: -20px 0 10px 0;
  text-shadow: none;
}
#location {
  height: 100%;
  padding-top: 40px;
}
#location h2 {
  margin: -20px 0 5px 0;
}
#location img {
  border: 2px solid #bbb;
}
#specOverview {
  height: 100%;
  padding-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#specOverview h2 {
  margin: 10px 0 5px 0;
}
#specOverview p {
  font-size: .8em;
}
#specDetails {
  height: 100%;
}
#specDetails h2 {
  margin: 70px 0 5px 20px;
}
#specDetails #datadetails {
  margin: 0 20px 0 20px;
}
#specDetails .col1,
#specDetails .col3,
#specDetails .col5 {
  width: 11%;
}
#specDetails .col2,
#specDetails .col4,
#specDetails .col6 {
  width: 22%;
}
#specDetails td {
  text-align: right;
  font-size: .9em;
  padding: 4px 4px 4px 4px;
  border: 1px solid #bbb;
}
#specDetails td.bd {
  font-weight: 600;
  text-align: center;
}
#contact {
  height: 100%;
}
#contact form {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
#contact label {
  font-weight: 700;
}
#contact .jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 40px 20px 5px;
  }
  .jumbotron .h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  /* brings the home photo up on small screen */
  #home > div > div > div > div {
    margin-top: -150px;
  }
  .carousel-caption > h3 {
    font-size: 16px;
  }
  .navbar-nav > li > a {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 10px;
  }
  #photogallery {
    margin-bottom: 50px;
  }
  #specOverview {
    height: auto;
  }
  #specDetails {
    height: auto;
  }
  #specDetails .col1,
  #specDetails .col2 {
    width: 50%;
    float: left;
  }
  #specDetails .col3,
  #specDetails .col4 {
    width: 50%;
    float: left;
  }
  #specDetails .col5,
  #specDetails .col6 {
    width: 50%;
    float: left;
  }
  #contact {
    height: 200%;
  }
}
